
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 1rem;
}

button {
    cursor: pointer;
}

input,
button {
    height: 40px;
    border-radius: 3px;
    outline: none;
    border: $border-size solid $gray-300;
    background-color: $white;
    &:focus {
        border: 1px solid $light-blue;
    }
}