
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

button {
    cursor: pointer;
}

input {
    padding: 0 0.3rem;
}
input,
button {
    height: 40px;
    border-radius: 3px;
    outline: none;
    border: $border-size solid $gray-300;
    background-color: $white;
    &:focus {
        border: 1px solid $light-blue;
    }
}
.modal-bg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0.233);
}
.modal-frame {
    min-width: 370px;
    max-width: 500px;
    background-color: $white;
    border-radius: 4px;
    padding: 1rem;
    margin: auto;
}

.modal-header {
    height: 22px;
    position: relative;
    button {
        position: absolute;
        right: -10px;
        top: -10px;
        padding: 0 0.5rem;
    }
}
.btn-close {
    height: 28px;
    width: 28px;
    font-size: 1.2rem;
    border-color: $gray-200;
}