$white: #ffffff;
$gray-100: #ebebeb;
$gray-200: #acacac;

$danger: #f36f47;
$success: #64cfac;

$dark-blue: #2f5768;
$light-blue: #64c5b8;
$light-yellow: #e9c46b;
$light-orange: #f4a261;

$border-size: 1px;